<img src="../week3/pandas-real.jpg" width=400px height=200px />

Image credit: https://towardsdatascience.com/python-pandas-data-frame-basics-b5cfbcd8c039

In [ ]:
import pandas as pd

> * We are calling pandas as pd and this allows calling the functions in pandas as pd.function_name() instead of pandas.function_name(). 
> * This is a standard convention in Python programming and you will see it in many places. 
> * It is also common to see import pandas as pd, which is the same thing but allows you to use pd instead of pandas.

> * Pandas Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). 
> * The axis labels are called index. Simply, Pandas Series is a column with values in an excel sheet.

In [ ]:
obj=pd.Series(['apple', 2, ['a','b','c'], 3.5, {'key':'value'}])

> * We have five different data types as values in the Series object.

In [ ]:
print(type(obj[0]))
print(type(obj[1]))
print(type(obj[2]))
print(type(obj[3]))
print(type(obj[4]))

In [ ]:
obj

> * The default index of Pandas Series is from 0 to ```len(data)-1```.

In [ ]:
obj.index

In [ ]:
obj.values

> * But you can also create a Pandas Series with a custom index.

In [ ]:
obj2=pd.Series(['apple', 2, ['a','b','c'], 3.5, {'key':'value'}], index=['one','two','three','four','five'])

In [ ]:
obj2

> * There is another way to customize the index of a Pandas Series. 
> * You can call index on the Pandas Series with a list of values to be used for the index.

In [ ]:
obj2.index=['uno','dos','tres','cuatro','cinco']

In [ ]:
obj2

> * If you want the value with specific index, you can do so by calling the index.

In [ ]:
obj2['uno']

In [ ]:
obj2['cinco']

> * If you want to access the value of dictionary with a specific key, you can access by calling the index first and then the key for the dictionary.

In [ ]:
obj2['cinco']['key']

**Q. What will the code below will return?**

In [ ]:
obj

In [ ]:
# obj['index']=['one','two','three','four','five']

> * Slicing Pandas Series helps you to get a range of values from the Pandas Series. 
> * You can do slicing by calling the Pandas Series with the start and end index separated by a colon ```[:]```.

<img src="../week3/python-slicing.png" width=400px height=150px />

Image credit: https://stackoverflow.com/questions/509211/how-slicing-in-python-works

In [ ]:
slicing=pd.Series(['a','b','c','d','e','f'])

In [ ]:
slicing[0:3] #if you want the value from the range of index you can use colon [:]

> * When the end index is not specified, it will return all the values from the start index you placed to the end of the Pandas Series.

In [ ]:
slicing[3:]

> * When the start index is not specified, it will return all the values from the beginning of the Pandas Series to the end index you specified.

In [ ]:
slicing[:3]

> * You can also index backwards with negative slicing.

In [ ]:
slicing[:-2]

In [ ]:
slicing[-2:]

> * Pandas DataFrame is a spreadsheet-like data structure with rows and columns. 
> * If Pandas Series is one-dimensional data structure, Pandas DataFrame is two-dimensional data structure.
> * You can think of DataFrame as a table with rows and columns. Each column is a Pandas Series. 
> * You can create a DataFrame by passing in a dictionary of Pandas Series. The keys of the dictionary will be the column names and the values will be the values in the column.

In [ ]:
df = pd.DataFrame({'a':[1,2,3,'a','b','c', 'a','B','C'], 
                   'b':[4,5,6,'d','e','f', 'D','E','F'], 
                   'c':[7,8,9,'a','b','c', 'G','H','I'], 
                   'd':[10,11,12,13,14,15,16,17,18], 
                   'e':[13,14,15,'m','n','o', 'M','N','O'], 
                   'f':[16,17,18,'p','q','r', 'P','Q','R']})

In [ ]:
df

> * You can call the column by calling the column name.

In [ ]:
df.columns

> * You can return the first few rows of the DataFrame by calling the ```head()``` function. 
> * You can also return the last few rows of the DataFrame by calling the ```tail()``` function.

In [ ]:
df.head()

In [ ]:
df.tail()

> * We can also specify the number of rows we want to return by passing in the number as an argument to the ```head()``` and ```tail()``` functions.

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

> * When we want to get rid of the column, we can do so by calling ```drop()``` function. We need to specify ```axis=1``` to indicate that we are dropping a column. 
> * If we want to drop a row, we can do so by calling ```drop()``` function and specify ```axis=0```.

In [ ]:
df.drop(['a', 'b'], axis=1) # axis=1 to drop columns

> * To make the change permanent, we need to set the ```inplace=True```.

In [ ]:
df.drop(['a', 'b'], axis=1, inplace=True) # axis=1 to drop columns

In [ ]:
df

In [ ]:
df.drop([7, 8], axis=0) # axis=0 to drop rows corresponding to index values

In [ ]:
df.drop([7, 8], axis=0, inplace=True) # axis=0 to drop rows corresponding to index values

In [ ]:
df

> * We can also add the column by specifying the column name (using the same syntax as adding a key to a dictionary) and the values.

In [ ]:
df['A']=pd.Series([-1,-2,-3,-4,-5,-6,-7])

In [ ]:
df['B']=[-1,-2,-3,-4,-5,-6,-7]

In [ ]:
df

> * When you want to subset the DataFrame with specific values from specific column, you can place the condition in the square brackets.

In [ ]:
df[df['c']=='c']

> * You can also subset the DataFrame larger than or smaller than a specific value.

In [ ]:
df[df['d']>12]

> * You can also subset the DataFrame with multiple conditions. 
> * You need to use the ```&``` symbol to indicate the AND condition and the ```|``` symbol to indicate the OR condition.

In [ ]:
df[(df['c']=='c') | (df['d']>12)]

In [ ]:
df[(df['c']=='c') & (df['d']>12)]

> * You can also subset the DataFrame with index values. You need to use the ```loc[]``` function to specify the index values and the column names.

In [ ]:
df

In [ ]:
df.loc[0]

In [ ]:
df.loc[0:2, ['A', 'B']]

> * ```.iloc[]``` is another function that allows you to subset the DataFrame with index values. 
> * The difference between ```.loc[]``` and ```.iloc[]``` is that ```.loc[]``` allows you to subset the DataFrame with index values and column names, while ```.iloc[]``` allows you to subset the DataFrame with index values and column numbers.

In [ ]:
df.iloc[0] #returns thre first row of all columns. The index will be the column names

In [ ]:
df.iloc[0]['c'] #you can access the value by specifiying the column name

In [ ]:
df.iloc[0:2, 0:2] #first you specify the rows and then the columns you want to subset

> * You can subset the specific rows from specific columns by first subsetting columns and use ```.iloc[]``` to subset the rows.

In [ ]:
df[['A', 'B']].iloc[0:2]

This is .loc[].

In [ ]:
df.loc[0:2, 'A':'B']

In [ ]:
df.loc[0]['c'] #you can access the value by specifiying the column name

> * You can subset the specific rows from specific columns by first subsetting columns and use ```.loc[]``` to subset the rows.

In [ ]:
df[['A', 'B']].loc[0:2]

**Q. But why do we get different results when using loc[] and iloc[] even though we are using the same index for the range for the row?**

In [ ]:
df[['A', 'B']].loc[0:2]

In [ ]:
df.iloc[0:2, 0:2]

`YOUR ANSWER HERE`

> * When the DataFrame is not ordered by the index, you will get different results when using ```loc[]``` and ```iloc[]```. 
> * So it is important to sort the DataFrame by the index first before using ```loc[]``` and ```iloc[]```.

In [ ]:
people_df=pd.DataFrame(
    {'age':[27, 21, 23, 24, 30, 20, 22],
    'gender':['M', 'F', 'F', 'M', 'M', 'F', 'M'],
    'name':['John', 'Sara', 'Mary', 'Paul', 'Mark', 'Lisa', 'Bob'],
    'state':['California', 'Texas', 'Florida', 'Illinois', 'California', 'Texas', 'Florida'],
     },
     index=['c', 'g', 'd', 'e', 'a', 'f', 'b']
)

In [ ]:
people_df

> * Either numerical or alphabetical, the sorting is done in asecending order of the index by default. 
> * You can change the order to descending by specifying ```ascending=False```.

In [ ]:
people_df.sort_index()

In [ ]:
people_df.sort_index(ascending=False)

> * You can sort the DataFrame by values in a specific column by specifying the column name.

In [ ]:
people_df.sort_values(by='age')

In [ ]:
people_df.sort_values(by='state')

> * You can also sort the DataFrame with multiple columns by specifying the column names in a list.

In [ ]:
people_df.sort_values(by=['state', 'age']) #the first column is sorted and then the second column is sorted

In [ ]:
people_df.sort_values(by=['age', 'state']) #the first column is sorted and then the second column is sorted

> * You can also sort the DataFrame with different boolean values in different columns. You need to specify the ascending values in a list.

In [ ]:
people_df.sort_values(by=['age', 'state'], ascending=[False, True])

In [ ]:
people_df.sort_values(by=['age', 'name'], ascending=[False, True])

> * Statistics can be calculated on the DataFrame. 
> * You can calculate the ```mean()```, ```median()```, ```std()```, ```var()```, ```unique()```, ```min()```, and ```max()```.

In [ ]:
df['d'].min()

In [ ]:
df['d'].max()

In [ ]:
df['d'].mean()

In [ ]:
df['d'].std()

In [ ]:
df['d'].var()

In [ ]:
df['d'].unique()

> * When you run into the real data, you will likely to find missing values. 
> * You can use the ```isnull()``` function to find the missing values. 
> * You can also use the ```notnull()``` function to find the non-missing values.

In [ ]:
from numpy import nan

In [ ]:
df_nan=pd.DataFrame({'a':[1,2,3,nan,5,6, nan, 8, 9],
                    'b':[4,5,6,nan,8,9, nan, 11, 12],
                    'c':[7,8,9,10,nan, 12, nan, 14, 15],
                    'd':[10,11,12,nan,14,15, nan, 17, 18],
                    'e':[13,14,15,nan,17,18, nan, 20, 21],
                    'f':[nan,16, 17,18,19,20, nan, nan, 24]})

In [ ]:
df_nan

> * You can check if the column contains the missing values by calling the ```isnull()``` function on the column.

In [ ]:
df_nan['f'].isnull()

> * You can also check the entire DataFrame for missing values by calling the ```isnull()``` function on the DataFrame.

In [ ]:
df_nan.isnull()

> * You can drop the missing values by calling the ```dropna()``` function. 
> * However, this will drop the entire row if there is a missing value in the row.

In [ ]:
df_nan.dropna()

> * You can also fill the missing values with a specific value by calling the ```fillna()``` function.

In [ ]:
df_nan.fillna(0)

> * You can also use dictionary to fill the missing values with different values for different columns.

In [ ]:
df_nan.fillna({'a':0, 'b':1, 'c':2, 'd':3, 'e':4, 'f':5})

> * While there is missing values in the DataFrame, there might be duplicate values in the DataFrame. 
> * You can check for duplicate values by calling the ```duplicated()``` function.

In [ ]:
people_df

> * Let's create some duplicate rows in the DataFrame.

In [ ]:
duplicate_row1={'age': 22, 'gender': 'M', 'name': 'Bob', 'state': 'Florida'}
duplicate_row2={'age': 20, 'gender': 'F', 'name': 'Lisa', 'state': 'Texas'}

In [ ]:
people_df.loc['h']=duplicate_row1
people_df.loc['i']=duplicate_row2

In [ ]:
people_df

In [ ]:
people_df.duplicated() #inserted rows h and i are duplicates

In [ ]:
people_df.drop_duplicates()

> * To drop all duplicate rows, including the original row, you can use ```keep=False```.

In [ ]:
people_df.drop_duplicates(keep=False)

In [ ]:
df_num=df_nan.fillna({'a':0, 'b':1, 'c':2, 'd':3, 'e':4, 'f':5})

> * You can also change the name of the column by calling the ```rename()``` function.

In [ ]:
df_nan.rename(columns={'a':'apple', 'b':'banana', 'c':'cat', 'd':'dog', 'e':'elephant', 'f':'fish'})

In [ ]:
df_nan

> * If you want to count the number of values in each column, you can do so by calling the ```value_counts()``` function.

In [ ]:
df_num['a'].value_counts()

> * You can use ```.isin()``` function to get boolean results for the values in the column.

In [ ]:
df_num['a'].isin([1,2,3])

In [ ]:
df_num['a'].isin([1,2,3]).value_counts()

> * You can iterate through the DataFrame by calling the ```iterrows()``` function. This will return the index and the row values.

In [ ]:
for idx, row in df_num.iterrows(): 
    print(row)
    break

> * If you want to iterate through the DataFrame and return the value in specific column, you can add the name of the column in the square brackets.

In [ ]:
for idx, row in df_num.iterrows(): 
    print(row['a'])
    break

> * However, you can also iterate through the specific column by iterating just the column. This will return the values in the column.

In [ ]:
for row in df_num['a']: 
    print(row)
    break

#### Practice 1: Social media messages from American politicians ####
> * Once we download the data, we can read the data into a DataFrame by calling the ```read_csv()``` function.

https://data.world/crowdflower/classification-of-pol-social

In [ ]:
data=pd.read_csv('Political-media-DFE.csv', encoding='latin1')

In [ ]:
data.shape

> * Pandas provides built-in function for visualization. You can call the ```plot()``` function to plot the data.

In [ ]:
data['bias'].value_counts()

You can also plot the data with different types of plots. You can specify the type of plot by passing in the ```kind()``` argument.

In [ ]:
data['bias'].value_counts().plot(kind='bar')

In [ ]:
data['bias'].value_counts().plot(kind='pie')

**With this data loaded into a DataFrame, we want to know what metadata (or column) are available in the DataFrame. Let's check the columns.**

In [ ]:
#YOUR CODE HERE

**We can try printing some rows of the DataFrame to see what data are inside.**

In [ ]:
#YOUR CODE HERE

**In which column do you think the text data or the tweets are stored?**

In [ ]:
#YOUR ANSWER OR CODE HERE

**In which column can we find the account name of the person who posted the tweet?**

In [ ]:
#YOUN ANSWER OR CODE HERE

**Let's use only the tweet text and the account name columns. How do we do that?**
> * (1) Drop the columns that we don't need.
> * (2) Subset the columns that we need.

In [ ]:
#YOUR CODE HERE

In [ ]:
#YOUR CODE HERE

**We don't like the column names. Let's rename the columns for the names into 'from'.**

In [ ]:
#YOUR CODE HERE

**We want to subset the data from Ted Yoho, Representative for Florida. How do we do that?**

In [ ]:
#YOUR CODE HERE

**How many tweets from Ted Yoho does this dataset have?**

In [ ]:
#YOUR CODE HERE

**How many unique account names are there in this dataset? This will help you get a rough idea of the number of unique nodes in the network.**

In [ ]:
#YOUR CODE HERE

**Let's try some visualization. We want to know the number of tweets posted by each account. Let's plot the data with pie chart.**

In [ ]:
#YOUR CODE HERE

**We want to iterate through the DataFrame and print out the tweet text and the account name. How do we do that?**

In [ ]:
#YOUR CODE HERE

**Do you think there will be more nodes than the number of unique account names when you build the network from this dataset? Why?**

`YOUR ANSWER`

**In the column where you found the tweet text, do you think what additional information can be extracted from the text? For example, can we extract the hashtags from the text? Can we extract the mentions from the text? Can we extract the URLs from the text?**

`YOUR ANSWER`

#### Practice 2: 311 service request data from NYC Open Data ####

In [ ]:
sdsds

https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9/about_data

In [ ]:
service.shape

**Let's check columns.**

In [ ]:
#YOUR CODE HERE

**Let's check the first few rows of the DataFrame.**

In [ ]:
#YOUR CODE HERE

**We want to know the number of unique complaint types. How do we do that?**

In [ ]:
#YOUR CODE HERE

**We want to visulize the number of complaints by complaint type with a pie chart. How do we do that?**

In [ ]:
#YOUR CODE HERE

**How many unique Agency names are there in this dataset?**

In [ ]:
#YOUR CODE HERE

**How do we subset the data with ```Agency=='NYPD'```?**

In [ ]:
#YOUR CODE HERE

**How many nan values are there in the Bridge Highway Name column?**

In [ ]:
#YOUR CODE HERE

**Replace the nan values in the Bridge Highway Name column with 'No Bridge'.**

In [ ]:
#YOUR CODE HERE

**Subset the dataset that has ```Agency=='NYPD'``` and ```Complaint Type==Illegal Parking```.**

In [ ]:
#YOUR CODE HERE

**Visualize a bar chart with the subsetted data (```Agency=='NYPD'``` and ```Complaint Type==Illegal Parking```) with borough on the x-axis and count on the y-axis.**

In [ ]:
#YOUR CODE HERE LEt's try

**How can you use this data for social network analysis? What is the node? What is the edge? Can you think of attributes for the nodes and edges?**

`YOUR ANSWER`

**What other interesting information can you extract to build a network?**

`YOUR ANSWER`